.element {
    max width: 1200px;
    background-image: url("../images/gradient.jpg");
    resize: both;
    overflow: auto;
    background-size: cover;
    background-repeat: space;
    margin: auto;
}